@model Gateway_Heindall.Models.IntegradordoUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>IntegradordoUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UsuarioIDAgencia" class="control-label"></label>
                <input asp-for="UsuarioIDAgencia" class="form-control" />
                <span asp-validation-for="UsuarioIDAgencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegUserUser" class="control-label"></label>
                <input asp-for="IntegUserUser" class="form-control" />
                <span asp-validation-for="IntegUserUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegUserPass" class="control-label"></label>
                <input asp-for="IntegUserPass" class="form-control" />
                <span asp-validation-for="IntegUserPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegUserPort" class="control-label"></label>
                <input asp-for="IntegUserPort" class="form-control" />
                <span asp-validation-for="IntegUserPort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegUserPublicKey" class="control-label"></label>
                <input asp-for="IntegUserPublicKey" class="form-control" />
                <span asp-validation-for="IntegUserPublicKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegUserPrivateKey" class="control-label"></label>
                <input asp-for="IntegUserPrivateKey" class="form-control" />
                <span asp-validation-for="IntegUserPrivateKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegradorId" class="control-label"></label>
                <select asp-for="IntegradorId" class="form-control" asp-items="ViewBag.IntegradorId"></select>
                <span asp-validation-for="IntegradorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDadosConexId" class="control-label"></label>
                <select asp-for="UserDadosConexId" class="form-control" asp-items="ViewBag.UserDadosConexId"></select>
                <span asp-validation-for="UserDadosConexId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
