@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>
<h2>Considerações Gerais:</h2>


<div>
<h2>Explicação dos relacionamentos:</h2>
<p>A classe Grupo tem uma coleção de Integrador, ou seja, um grupo pode ter vários integradores.</p>
<p>A classe Integrador tem uma referência para Grupo, indicando a que grupo ele pertence. Além disso, tem uma coleção de IntegradorDoUser, ou seja, pode haver vários usuários que adicionaram esse integrador, cada um com suas próprias informações de login, senha e número de acesso.</p>
<p>A classe ApplicationUser tem uma coleção de Integrador, ou seja, um usuário pode ter vários integradores adicionados.</p>
<p>A classe IntegradorDoUser tem uma referência para Integrador, indicando qual integrador foi adicionado pelo usuário. Além disso, tem uma referência para ApplicationUser, indicando qual usuário adicionou esse integrador. Também possui as informações de login, senha e número de acesso adicionados pelo usuário.</p>
<p>A classe IntegradoresDoUserTemp é uma tabela temporária que armazena dados de integradores do usuário logado. Tem referências para Integrador, ApplicationUser e IntegradorDoUser para obter informações sobre o integrador, o usuário e as informações de login, senha e número de acesso.</p>
</div>

