@model Gateway_Heindall.Models.Integrador

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Integrador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IntegradorNome" class="control-label"></label>
                <input asp-for="IntegradorNome" class="form-control" />
                <span asp-validation-for="IntegradorNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegradorGrupo" class="control-label"></label>
                <input asp-for="IntegradorGrupo" class="form-control" />
                <span asp-validation-for="IntegradorGrupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegradorEndpoint" class="control-label"></label>
                <input asp-for="IntegradorEndpoint" class="form-control" />
                <span asp-validation-for="IntegradorEndpoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegradorPublicKey" class="control-label"></label>
                <input asp-for="IntegradorPublicKey" class="form-control" />
                <span asp-validation-for="IntegradorPublicKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegradorPrivateKey" class="control-label"></label>
                <input asp-for="IntegradorPrivateKey" class="form-control" />
                <span asp-validation-for="IntegradorPrivateKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoId" class="control-label"></label>
                <select asp-for="GrupoId" class ="form-control" asp-items="ViewBag.GrupoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a tela anterior</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
