@model Gateway_Heindall.Models.UserDadosConex

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserDadosConex</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserCNPJ" class="control-label"></label>
                <input asp-for="UserCNPJ" class="form-control" />
                <span asp-validation-for="UserCNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserNivel" class="control-label"></label>
                <input asp-for="UserNivel" class="form-control" />
                <span asp-validation-for="UserNivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserNomeEmpresa" class="control-label"></label>
                <input asp-for="UserNomeEmpresa" class="form-control" />
                <span asp-validation-for="UserNomeEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserHostDestino" class="control-label"></label>
                <input asp-for="UserHostDestino" class="form-control" />
                <span asp-validation-for="UserHostDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserHostUserDestino" class="control-label"></label>
                <input asp-for="UserHostUserDestino" class="form-control" />
                <span asp-validation-for="UserHostUserDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserSenhaDestino" class="control-label"></label>
                <input asp-for="UserSenhaDestino" class="form-control" />
                <span asp-validation-for="UserSenhaDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPortDestino" class="control-label"></label>
                <input asp-for="UserPortDestino" class="form-control" />
                <span asp-validation-for="UserPortDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserBancoDestino" class="control-label"></label>
                <input asp-for="UserBancoDestino" class="form-control" />
                <span asp-validation-for="UserBancoDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a tela anterior</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
